/**
 * App.css - Main style sheet for the application
 * Created for a weather app project
 * Last edited: 03/02/2025
 */

 /* app color palette */
 :root{
  --black: #001314;
  --darkBlueOutline: #002A2D;
  --darkBlue: #024950;
  --redOutline: #894736;
  --red: #ff6e49;
  --mediumBlueOutline: #0FA4AF;
  --mediumBlue: #5FC1CA;
  --lightblueOutline: #AFDDE5;
  --lightblue: #C1E5EB;
  --lighterblue: #DFF2F5;
  --white: #EFF9FA;
  --whitewhite: #faffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
