
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
/* fonts from google font */
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Knewave", serif;
}

.app{
  min-height: 100vh;
  display: grid;
  background-color: var(--primarybackground);
}